body {
	padding-bottom:100px;
}

navbar nav {
	border-bottom:1px solid #DDDDDD !important;
	margin-bottom:40px !important;
}

a {
	cursor: pointer;
	color: rgb(50,151,255);

	i {
		margin-right:8px;
	}
}

.done label {
	text-decoration: line-through;
	color:#AAAAAA;
}

.hide {
	display:none;
}

.show {
	display: block !important;
}

.fright {
	float:right;
}

.todo-action-icon {
	color:#EEEEEE;
	font-size:16px;
	position:relative;
	top:2px;
	margin-left:10px;

	&:hover {
		color:#999999;
		cursor: pointer;
	}
}

.empty-message {
	padding:60px 0px;
	color:#CCCCCC;
	text-align:center;
}

.circle {
	width:50px;
	height:50px;
	margin-top:50px;
	background-color: #FFAB32;
	display:inline-block;
	border-radius:50px;
}